@{
    Layout = "~/shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Montserrat:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
    <link href="~/Content/CSS/minifiedstylesheet1.css" rel="stylesheet" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="container center-align flow-text">
        <div>
            <h1>Welcome to Ale Merry!</h1>
        </div>
        <div class="row">

            <div class="col s6">
                <h3> Beginner friendly</h3>
                <p>Ale Merry seeks to not only give home brewers a platform but also help beginner home breweres get started.</p>
            </div>
            <div class="col s6">
                <h3> Community focused</h3>
                <p>  Here at Ale Merry we strive to start a thriving community where home brewers of all kinds can share and help their fellow brewers.</p>
            </div>
            <div>
                <h2>An introduction to homebrewing</h2>
                <video class="col s12 xl12 responsive-video" controls="controls">
                    <source src="~/Content/videos/The_Beginner's_Guide_to_Making_Home_Brew.webm" type="video/mp4" />
                </video>
            </div>
    </div>
        </div>
</body>
</html>
