body {

}
h1 {
    font-family: 'Anton', sans-serif;
}
h2 {
    font-family: 'Anton', sans-serif;
}
h3 {
    font-family: 'Bebas Neue', cursive;
}
p {
    font-family: 'Montserrat', sans-serif;
}
textarea{
    resize:none;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}