
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/CSS/materialize.min.css" rel="stylesheet" />
    <script src="~/Content/JS/js/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="~/Content/CSS/StyleSheet1.css" rel="stylesheet" />

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
</head>

<body>
    <nav class=" brown">
        <div class="nav-wrapper">
            <a style="font-family: 'Anton', sans-serif;" href="" class="brand-logo">Ale Merry</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"> <i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="~/Views/Index.cshtml">Homepage</a>
                </li>
                <li>
                    <a href="~/Views/Forum.cshtml">Forum</a>
                </li>
                <li>
                    <a href="~/Views/Contact.cshtml">Contact us!</a>
                </li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li>
            <a href="~/Views/Index.cshtml">Homepage</a>
        </li>
        <li>
            <a href="~/Views/Forum.cshtml">Forum</a>
        </li>
        <li>
            <a href="~/Views/Contact.cshtml">Contact us!</a>
        </li>
    </ul>
    <main>
        @RenderBody()
    </main>
    <footer class="page-footer brown">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/Bobsterkiller">My Github</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2021 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>